version: '3.8'
services:
  app:
    build: .
    ports:
      - "8040:8040"
    environment:
      - DATABASE_URL=postgresql://user:pass@db:5432/ecommerce
      - RABBITMQ_URL=amqp://user:pass@rabbitmq:5672/
    depends_on:
      - db
      - rabbitmq
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - ./persistencia/init.sql:/docker-entrypoint-initdb.d/init.sql
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    ports:
      - "5672:5672"
      - "15672:15672"